---
import Layout from '../layouts/main.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
	<!-- Intro -->
	<section style="padding-left: 300px;" id="intro" class="wrapper style1 fullscreen fade-up">
		<div class="inner">
			<h1>Proper Haus</h1>
			<p>Premium property management services so that you can rest easy, knowing that your home, and your peace of mind, are taken care of.</p>
			<ul class="actions">
				<li><a href="#one" class="button scrolly">Learn more</a></li>
			</ul>
		</div>
	</section>

</Layout>
