<html>
    <head>
        <title>My Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background: pink;
            }
            nav {
                margin-bottom: 25px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>This is the header</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>